.section {
  width: 100%;
  margin: 0 -5px;
}
.section div {
  display: flex !important;
  flex-wrap: wrap !important;
}
.section button {
  border-radius: 6px !important;
  margin: 5px !important;
  height: 30px !important;
  padding: 0 14px !important;
  font-size: 12px !important;
  border: 2px solid #f8f8f8 !important;
}
.section button:hover {
  background-color: #f8f8f8 !important;
}
